<!DOCTYPE html>
<html>
	<head>
		<title>
			Food Trucks in SF
		</title>
		<style type = 'text/css'>
			html { height:100% }
			body { height:100%; margin: 0%; padding: 0% }
			#map-canvas {height: 100%}
		</style>
	</head>
	<body>
		<div id='map-canvas'> 	
		<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAich_IdDKurJdZqpUuvvzl_5A_4IiylEM&sensor=true"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script>
	    	var map
	    	function initialize() {
	    		var mapOptions = {
	    			zoom: 15
	    		}
		    	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)
		    	if (navigator.geolocation) {
		    		navigator.geolocation.getCurrentPosition(function(position) {
		    			var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
		    			map.setCenter(pos)
		    			getNearby(map)
		    		}, function() {
		    			handleNoGeolocation(true)
		    		})
		    	}
		    }

	    	function handleNoGeolocation(errorFlag) {
	    		if (errorFlag) {
	    			var content = 'Error: the geolocation service failed'
	    		} else {
	    			content = 'Your browser does not support geolocation'
	    		}

		    	var options = {
		    		map: map,
		    		position: new google.maps.LatLng(37, -122),
		    		content: content
		    	}
		    	map.setCenter(options.position)
		    	getNearby(map)
	    	}

	    	function getNearby(map) {
	    		loc = map.getCenter()
	    		$.ajax({
	    			url: '/near/' + loc.nb + '/' + loc.ob,
	    			success: function(data) {
	    				data = $.parseJSON(data)
	    				for (var i=0; i<data.length; i++) {
	    					var lat = parseFloat(data[i].latitude)
	    					var lng = parseFloat(data[i].longitude)
	    					var marker = new google.maps.Marker({
	    						position: new google.maps.LatLng(lat, lng),
	    						map: map,
	    						title: 'Food trucks near you'
	    					})
	    				}
	    			}
	    		})
	    	}
	    	google.maps.event.addDomListener(window, 'load', initialize)

	    </script>
	</body>
</html>
