<!DOCTYPE html>
<html>
	<head>
		<title>
			Food Trucks in SF
		</title>
		<style type = 'text/css'>
			html { height:100% }
			body { height:100%; margin: 0%; padding: 0% }
			#map-canvas {height: 100%}
		</style>
	</head>
	<body>
		<div id='map-canvas'> 	
		<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAich_IdDKurJdZqpUuvvzl_5A_4IiylEM&sensor=true"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script src="../static/home.js"></script>
	</body>
</html>
